<!DOCTYPE html>
<html>

<head>
    <title>Registrarse</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"><!-- Favicon -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/estilos_trabajadores.css">
    <link rel="stylesheet" href="/stylesheets/font/bootstrap-icons.css"> <!-- Iconos -->
    <script src="/sweetalert2/sweetalert2.all.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">

    <%- include("plantillas/header_trabajadores.ejs") %>

        <main class="flex-grow-1">


            <div class="container mt-4" style="min-height: 84vh;">
                <h2 class="titulo bg-primary text-white p-3 rounded"> <i class="bi bi-person-add"></i> Crear Trabajador
                </h2>

                <form action="/autenticacion/registrarTrabajador" method="POST">

                    <div class="row my-2">

                        <div class="col">
                            <label for="rol">Rol del trabajador</label>
                            <select class="col my-1 form-select" name="rol">
                                <option selected>Selecciona el tipo de trabajador</option>
                                <option value="2" selected>Trabajador</option>
                                <option value="3">Trabajador - Administrador</option>
                            </select>
                        </div>

                        <div class="col">
                            <label for="estado">Estado del trabajador</label>
                            <select class="col my-1 form-select" name="estado" required>
                                <option value="activo" selected>Activo</option>
                                <option value="inactivo">Inactivo</option>
                            </select>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control my-1" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="col">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control my-1" name="apellidos"
                                placeholder="Apellido 1 Apellido 2" required>
                        </div>

                    </div>

                    <div class="row my-3">

                        <div class="col input-group ">
                            <input type="text" class="form-control " placeholder="Correo" name="correo" required>
                            <span class="input-group-text " id="basic-addon2">@didadent.com</span>
                        </div>

                        <div class="col">
                            <input type="tel" class="form-control" name="tlf" placeholder="Teléfono" maxlength="9"
                                required>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="especialidad" class="form-label">Especialidad</label>
                        <textarea class="form-control" name="especialidad" id="especialidad" rows="3"></textarea>
                    </div>


                    <div class="row p-0 my-5">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-primary">Crear usuario</button>
                        </div>
                    </div>

            </div>



            </form>

            </div>
        </main>

        <!-- Footer -->
        <%- include("plantillas/footer.ejs") %>

</body>

<% if (typeof mensaje !=='undefined' ) { %>
    <script>
        Swal.fire({
            icon: '<%= mensaje.tipo %>',
            title: '<%= mensaje.titulo %>',
            text: '<%= mensaje.texto %>',
            timer: '<%= mensaje.tiempo %>',
            showConfirmButton: false
        }).then(() => {
            window.location = '/<%= mensaje.ruta %>';
        });
    </script>
    <% } %>

        <script src="/javascripts/bootstrap.bundle.min.js"></script>