<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clínica <%= title %>
    </title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"><!-- Favicon -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/estilos_trabajadores.css">
    <link rel="stylesheet" href="/stylesheets/font/bootstrap-icons.css"> <!-- Iconos -->
    <script src="/sweetalert2/sweetalert2.all.min.js"></script> <!-- Alertas -->
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include("../plantillas/header_trabajadores.ejs") %>

        <div class="container mt-4 flex-grow-1">
            <h2 class="titulo bg-primary text-white p-3 rounded"> <i class="bi bi-person"></i> Datos de la Cuenta</h2>

            <form action="/zona/trabajador/datos" method="POST">
    
                <div class="row my-2">
    
                    <div class="col">
                        <label for="rol" class="fw-bold">Rol del trabajador</label>
                        <select class="col my-1 form-select" name="rol">
                            <option selected>Selecciona el tipo de trabajador</option>
                            <option value="2" <%= trabajador.rol === 2 ? 'selected' : '' %> <%= trabajador.rol === 3 ? 'disabled' : '' %>>Trabajador</option>
                            <!-- La opción de administrador solo la van a poder marcar los administradores, de modo qeu los empleados no puedan tener esos privilegios -->
                            <option value="3" <%= trabajador.rol === 3 ? 'selected' : '' %> <%= trabajador.rol === 2 ? 'disabled' : '' %>>Trabajador - Administrador</option>
                        </select>
                    </div>
                    
                    <div class="col">
                        <label for="estado" class="fw-bold">Estado del trabajador</label>
                        <select class="col my-1 form-select" name="estado" required>
                            <option value="activo" <%= trabajador.estado === 'activo' ? 'selected' : '' %>>Activo</option>
                            <option value="inactivo" <%= trabajador.estado === 'inactivo' ? 'selected' : '' %>>Inactivo</option>
                        </select>
                    </div>
                    
            
                </div>
    
                <div class="row">
    
                    <div class="col">
                        <label for="nombre" class="fw-bold">Nombre</label>
                        <input type="text" class="form-control my-1" name="nombre" placeholder="Nombre" value="<%= trabajador.nombre %>" required>
                    </div>
                    <div class="col">
                        <label for="apellidos" class="fw-bold">Apellidos</label>
                        <input type="text" class="form-control my-1" name="apellidos" placeholder="Apellido 1 Apellido 2" value="<%= trabajador.apellidos %>" required>
                    </div>
    
                </div>
    
                <div class="row my-3">
    
                    <div class="col">
                        <label for="correo" class="form-label fw-bold">Correo</label>
                        <input type="text" class="form-control " placeholder="Correo" name="correo" value="<%= trabajador.correo %>" readonly>
                    </div>
    
                    <div class="col">
                        <label for="tlf" class="form-label fw-bold">Teléfono</label>
                        <input type="tel" class="form-control" name="tlf" placeholder="Teléfono" value="<%= trabajador.tlf %>" maxlength="9" required>
                    </div>
    
                </div>
    
                <div class="mb-3">
                    <label for="especialidad" class="form-label fw-bold">Especialidad</label>
                    <textarea class="form-control" name="especialidad" id="especialidad" rows="3"><%= trabajador.especialidad %></textarea>
                </div>
    
    
                <div class="row p-0 my-5">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </div>
    
            </form>

            <!-- Formuladio de cambio de contarseña -->
            <form action="/zona/trabajador/contrasena" method="POST">
                <div class="row g-3 align-items-center p-0 m-0">
                    <div class="col-auto">
                        <label for="contraseña" class="col-form-label fw-bold">Nueva contraseña</label>
                    </div>
                    <div class="col-auto">
                        <input type="password" name="contraseña" id="contraseña" class="form-control" pattern=".{8,}"
                            title="Mínimo 8 caracteres (letras, números o símbolos)." required>
                    </div>
                    <div class="col-auto">
                        <span class="form-text">
                            Mínimo 8 caracteres (pueden ser letras, números o símbolos).
                        </span>
                    </div>
                    <div class="col-auto">
                        <label for="contraseña" class="col-form-label fw-bold">Confirmar contraseña</label>
                    </div>
                    <div class="col-auto">
                        <input type="password" name="confrimarContraseña" id="confrimarContraseña" class="form-control" required>
                    </div>
                </div>
            
                <div class="row p-0 my-4">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
                    </div>
                </div>
            </form>

        </div>

    <!-- Footer -->
    <%- include("../plantillas/footer.ejs") %>

        <% if (typeof mensajeExito !== 'undefined') { %>
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: '<%= mensajeExito %>',
                    timer: 2500,
                    showConfirmButton: false,
                    confirmButtonColor: '#3085d6'
                });
            </script>
        <% } %>
        
        <% if (typeof mensajeError !== 'undefined') { %>
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '<%= mensajeError %>',
                    timer: 2500,
                    showConfirmButton: false,
                    confirmButtonColor: '#d33'
                });
            </script>
        <% } %>
        

        <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>
